<div id="<%= dom_id section %>">
  <p>
    <strong>Location:</strong>
    <%= section.location %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= section.position %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= section.title %>
  </p>

  <p>
    <strong>Visible:</strong>
    <%= section.visible %>
  </p>

</div>
