<!DOCTYPE html>
<html>
  <head>
    <title>Hcow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="blue">

    <nav class="navbar navbar-expand-lg red">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">HARMONY CLUB OF WORCESTER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Home", site_home_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "CRUD", control_panel_index_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container white">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>

    </div>

  </body>
</html>