<div class="container white vh-100">
  <div class = "row">

    <% if current_user.role == "developer" %>
      <div class = "col-lg-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Sections</h5>
            <h6 class="card-subtitle mb-2 text-muted">Sections Index Page</h6>
          <p class="card-text">Click the button below to view all of the Sections</p>
            <%= link_to "Index", sections_path, class: "btn btn-primary"%>
          </div>
        </div>
      </div>

    <% end %>

    <div class = "col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pages</h5>
          <h6 class="card-subtitle mb-2 text-muted">Pages Index Page</h6>
          <p class="card-text">Click the button below to view all of the Pages</p>
          <%= link_to "Index", pages_path, class: "btn btn-primary"%>
        </div>
      </div>
    </div>


    <div class = "col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Albums</h5>
          <h6 class="card-subtitle mb-2 text-muted">Albums Index Page</h6>
          <p class="card-text">Click the button below to view all of the Albums</p>
          <%= link_to "Index", albums_path, class: "btn btn-primary"%>
        </div>
      </div>
    </div>

    <div class = "col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pictures</h5>
          <h6 class="card-subtitle mb-2 text-muted">Pictures Index Page</h6>
          <p class="card-text">Click the button below to view all of the Pictures</p>
          <%= link_to "Index", photos_path, class: "btn btn-primary"%>
        </div>
      </div>
    </div>

    <div class = "col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
          <h6 class="card-subtitle mb-2 text-muted">Events Index Page</h6>
          <p class="card-text">Click the button below to view all of the Events</p>
          <%= link_to "Index", events_path, class: "btn btn-primary"%>
        </div>
      </div>
    </div>

    <div class = "col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Sponsors</h5>
          <h6 class="card-subtitle mb-2 text-muted">Sponsors Index Page</h6>
          <p class="card-text">Click the button below to view all of the Sponsors</p>
          <%= link_to "Index", sponsors_path, class: "btn btn-primary"%>
        </div>
      </div>
    </div>

  </div>
</div>