<div class = "row">

  <% if current_user.role == "developer" %>
    <div class = "col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Section</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "Index", sections_path, class: "btn btn-primary"%>
        </div>
      </div>
    </div>

  <% end %>

  <div class = "col-lg-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Pages</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "Index", pages_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>


  <div class = "col-lg-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Album</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "Index", albums_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>

  <div class = "col-lg-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Pictures</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "Index", photos_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>

  <div class = "col-lg-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Event</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "Index", events_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>

</div>