<div id="<%= dom_id page %>">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">location</th>
      <th scope="col">Visiable</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= page.title %></th>
      <td><%if page.visible == true %> is visible <% else %> is not visible <% end %></td>
      <td><%=page.destination %></td>
      <td><%= link_to "Edit", edit_page_path(@page), class: "btn btn-warning"%></td>
      <td> <%= button_to "Destroy", @page, method: :delete, class: "btn btn-danger" %></td>
    </tr>
  </tbody>
</table>
</div>
