<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Allday:</strong>
    <%= event.allday %>
  </p>

  <p>
    <strong>Eventstart:</strong>
    <%= event.eventstart %>
  </p>

  <p>
    <strong>Eventend:</strong>
    <%= event.eventend %>
  </p>

  <p>
    <strong>Occurence:</strong>
    <%= event.occurence %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= event.details %>
  </p>

</div>
