<div id="<%= dom_id album %>">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= album.title %></th>
      <td><%=album.description %></td>
    </tr>
  </tbody>
</table>
</div>


<h2>Photos:</h2>

<div class="row">
  <% album.photos.each do |p| %>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <% if p.image.attached? %>
          <%= image_tag(p.image) %>
        <% else %>
          <p>no image attached</p>
        <% end %>
        <div class="card-body">
          <h5 class="card-title text-center"><%= p.title %></h5>
          <p class="card-text text-center"><%= p.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>