<div id="<%= dom_id photo %>">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= photo.title %></th>
      <td><%=photo.description %></td>
      <td><%= link_to "Edit", edit_photo_path(@photo), class: "btn btn-warning"%></td>
      <td> <%= button_to "Destroy", @photo, method: :delete, class: "btn btn-danger" %></td>
    </tr>
  </tbody>
</table>
</div>
