<h1 class="text-center">Featured Events</h1>

<div class="row">
  <% @featured_events.each do |e| %>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <% if e.photo.attached? %>
          <%= image_tag(e.photo) %>
        <% else %>
          <p>no image attached</p>
        <% end %>
        <div class="card-body">
          <h5 class="card-title text-center"><%= e.title %></h5>
          <p class="card-text text-center"><%= e.details %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>